@model GameStore.Domain.Dtos.ProdutoDto

@{
    ViewData["Title"] = "Delete";
}

<h3>Gestão de Produtos</h3>

<h3>Tem certeza que deseja realizar a exclusão desse produto?</h3>
<div>
    <h4>Exclusão</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlImagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlImagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoCurrencyFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoCurrencyFormat)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" value="@Model.Id" />
        <input type="hidden" value="@Model.Descricao" />
        <input type="hidden" value="@Model.PrecoUnitario" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="IndexLista" class="btn btn-warning">Voltar</a>
    </form>
</div>
