@model GameStore.Domain.Dtos.ProdutoDto

@{
    ViewData["Title"] = "Details";
}

<h3>Gestão de Produtos</h3>

<div>
    <h4>Detalhes</h4>
    <hr />
    <div class="form-container">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrecoUnitario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrecoCurrencyFormat)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Categoria)
            </dd>
            <img src="data:image/png;base64,@Model.Database64Content" alt="Imagem" class="imagem-produto" />
        </dl>
    </div>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id },new { @class = "btn btn-sm btn-secondary"}) |
    <a asp-action="IndexLista" class="btn btn-warning">Voltar</a>
</div>
